#f_addProduct{
	background-color: #2bcc50;
	border-radius: 5px;
	min-height: 260px;
	padding: 10px;
}

#f_addProduct form *{
	margin-top: 10px;
	height: 30px;
	border-radius: 0px;
	transition: 0.3s;
	opacity: 1;
}

#f_addProduct form input{
	background-color: transparent;
	border: none;
	border-bottom: 3px white solid;
}

#f_addProduct form textarea{
	height: 80px;
}

#f_addProduct form input::placeholder{
	color: rgba(0,0,0,0.4) !important;
}

#f_addProduct form:not(.active) *{
	margin-top: 0;
	padding: 0;
	border: none;
	height: 0px;
	transition: 0.3s;
	opacity: 0;
	width: 0;
}

#f_addProduct #btnSelectImg{
	border-radius: 3px;
}

#f_addProduct .fa-save{
	font-size: 2.5vw;
}
