.recherche_section{
	padding: 50px 0px;
	background: #4d1010;
}

#map_mada{
	width: 300px;
	height: 300px;
	margin: 0px;
}

#map_mada path{
	stroke: white;
	stroke-width: 3;
	fill: #238000;
	transition: 0.3s;
}

#map_mada path:hover:not(.active){
	fill: teal;
}

#map_mada path:hover:not(.active){

}

#map_mada path.active{
	fill: tomato;
	transition: 0.3s;
	opacity: 1 !important;
}